@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@500&display=swap');

/*Barra de navegación*/
.app-container {
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 56px;
    font-family: 'IBM Plex Sans', sans-serif;

  }

  /*Barra de navegación*/
  .navbar {
    background-color: #ffffff;
    width: 100%;
    padding: 10px;
    text-align: center;
    height: 56px;
    justify-content: space-between;
    align-items: center;
    font-size: 26px;
    font-family: 'IBM Plex Sans', sans-serif;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    border-width: 0 0 1px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .left-content {
    display: flex;
    align-items: center;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 700;
  }

  .left-content i {
    font-size: 20px;
    margin-right: 10px;
  }

  .left-content img {
    width: 45px;
    height: auto;
    margin-right: 12px;
    margin-left: 10px;
  }
  .TIC{
    color: #79ed83;
}

/*Contenedor para la recuperación de contraseña*/
section{
    font-family: 'IBM Plex Sans', sans-serif;
    background-color:#f3f3f3 ;
    margin: 0;
    padding: 0;
    display: grid;
    place-items: center;
    width: 110%;
}

button{
    font-family: 'IBM Plex Sans', sans-serif;
    width: 75%;
    height: 40px;
    border-radius: 5px;
    background:#79ed83;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
    text-decoration: #79ed83;
    color:black;
}

.inputbox{
    position: relative;
    margin: 30px 0;
    width: 75%;
    border-bottom: 2px solid #79ed83;
    margin-left: 12.5%;
}

.inputbox label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color:black;
    font-size: 1em;
    pointer-events: none;
    transition: .5s;
}

input:focus ~ label,
input:valid ~ label{
    top: -5px;
}

.inputbox input{
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    padding: 0 35px 0 5px;
    color:solid#79ed83;
}
.inputbox ion-icon{
    position: absolute;
    right: 8px;
    color:solid#0d4b68;
    font-size: 1.2em;
    top: 20px;
}

h1{
    font-size: 1.5em;
    color: black;
}

h2{
    text-align: center;
    width: 60%;
    margin-left: 20%;
    font-size: 0.8em;
}

h3{
    font-size: 0.9em;
    color: black;
}

a{
    text-decoration: none;
}

.center-side{
    background: #f3f3f3;
    height: 100vh;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-top: 10%;

}

.form-box{
    width: 455px;
    height: 470px;
    background: white;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 5px solid white;
    border-radius: 10px;
    margin-top: 15%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-box2 {
    width: 455px;
    height: 43px;
    background: white;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 5px solid white;
    border-radius: 10px;
    margin-top: 2.5%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.line-container {
    display: flex;
    align-items: center;
    margin-top: 8%;
    margin-bottom: 5%;
    width: 75%;
    margin-left: 12.5%;
}

.line {
    flex-grow: 1;
    border-top: 1px solid #000;
}

.or-text {
    margin: 0 30px;
}

.img-pwd{
    margin-top: 2.5%;
    width: 70px;
    height: 70px;
}
